@model ReqManager.Entities.Link.LinkBetweenRequirementsEntity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LinkBetweenRequirementsEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequirementOrigin.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequirementOrigin.code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequirementTarget.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequirementTarget.code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeLink.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeLink.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LinkRequirementsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
