@model IEnumerable<ReqManager.Entities.Link.LinkBetweenRequirementsEntity>

@{
    ViewBag.Title = "Listing of Links between Requirements";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="linkRequirements" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequirementOrigin.code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequirementTarget.code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeLink.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.code)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequirementOrigin.code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequirementTarget.code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeLink.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Users.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.code)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.LinkRequirementsID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.LinkRequirementsID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.LinkRequirementsID })
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#linkRequirements').dataTable({
            "bServerSide": true,
            "bProcessing": false,
            ajax: {
                "url": '@Url.Action("GetFilter", "LinkBetweenRequirements")',
                "type": 'POST',
                "dataSrc": function (json) {
                    var return_data = new Array();
                    for (var i = 0; i < json.aaData.length; i++) {
                        return_data.push({
                            'origin': json.aaData[i].RequirementOrigin.code,
                            'target': json.aaData[i].RequirementTarget.code,
                            'type': json.aaData[i].TypeLink.description,
                            'name': json.aaData[i].Users.name,
                            'creationDate': fixDateTime(json.aaData[i].creationDate),
                            'code': json.aaData[i].code,
                            'action': '<a href=\"/LinkBetweenRequirements/Edit/' +
                                json.aaData[i].LinkRequirementsID + '\">Edit</a> | <a href=\"/LinkBetweenRequirements/Details/' +
                                json.aaData[i].LinkRequirementsID + '\">Details</a> | <a href=\"/LinkBetweenRequirements/Delete/' +
                                json.aaData[i].LinkRequirementsID + '\">Delete</a>'
                        })
                    }

                    return return_data;
                }
            },
            "aoColumns": [
                { 'data': 'origin' },
                { 'data': 'target' },
                { 'data': 'type' },
                { 'data': 'name' },
                { 'data': 'creationDate' },
                { 'data': 'code' },
                { 'data': 'action' },
            ]
        });
    });
</script>