@model ReqManager.ViewModels.TrackingViewModel

@{
    ViewBag.Title = "Track Project Requirements";
}

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div id="tabs">
        <ul>
            <li><a href="#path">Tracking</a></li>
            <li><a href="#tabFiles">Files Found</a></li>
        </ul>

        <div id="path">

            <div class="form-group">
                @Html.Label("Project", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Project", null, "SELECT THE PROJECT", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessage("Project", "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Requirements", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Requirements", null, "SELECT THE REQUIREMENT", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessage("Requirements", "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Path", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Path", Enumerable.Empty<SelectListItem>(), "SELECT THE PATH", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessage("Path", "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button id="track" class="btn btn-default">Track</button>
                </div>
            </div>
        </div>
        <div id="tabFiles">
            @using (Html.BeginForm("OpenFile", "Tracking", FormMethod.Post))
            {
                <div id="files" class="form-group">
                    @Html.Label("Files", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Files", Enumerable.Empty<SelectListItem>(), "SELECT THE FILE PATH", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessage("Files", "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $("#Project").change(function () {

            var id = $(this).val();

            clearDropDown("Requirements");
            clearDropDown("Path");

            $('#Requirements').append("<option value='" + 0 + "'>SELECT THE REQUIREMENTS</option>");

            $.getJSON('@Url.Action("GetRequirementsFromProject", "Projects")', { ProjectID: id }, function (response) {
                $.each(response, function (index, item) {
                    var optionExists = ($('#Requirements option[value=' + item.RequirementID + ']').length > 0);
                    if (!optionExists)
                        $('#Requirements').append("<option value='" + item.RequirementID + "'>" + item.DisplayName + "</option>");
                });
            });

            $.getJSON('@Url.Action("GetFolders", "Projects")', { ProjectID: id }, function (response) {
                $.each(response, function (index, item) {
                    $('#Path').append("<option value='" + item + "'>" + item + "</option>");
                });
            });

        });

        $("#track").click(function () {
            var Requirements = $('#Requirements').val();
            var Path = $('#Path').val();

            clearDropDown("Files");

            $('#Files').append("<option value='" + 0 + "'>SELECT THE PATH</option>");

            $.getJSON('@Url.Action("TrackingRequirements", "Tracking")', { Requirements: Requirements, Path: Path }, function (response) {
                $.each(response, function (index, item) {
                    var optionExists = ($('#Files option[value=' + item.AttributeID + ']').length > 0);
                    if (!optionExists)
                        $('#Files').append("<option value='" + item + "'>" + item + "</option>");
                });
            });
        });

        $("#Files").change(function () {
            $.ajax({
                cache: false,
                type: "POST",
                url: "@Url.Action("OpenFile", "Tracking")",
                data: {
                    file: $("#Files").val()
                }
            });
        });
    </script>

}

