@model IEnumerable<ReqManager.Entities.Requirement.RequirementSubTypeEntity>

@{
    ViewBag.Title = "Requirements SubTypes";
}

<div class="form-group">
    @Html.ActionLink("Create New", "Create", "RequirementSubType", null, new { @class = "btn btn-primary" })
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequirementType.description)
        </th>
        <th>
            SubType Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RequirementType.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RequirementSubTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RequirementSubTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RequirementSubTypeID })
        </td>
    </tr>
}

</table>
