@model IEnumerable<ReqManager.Entities.Project.StakeholderRequirementEntity>

@{
    ViewBag.Title = "Listing of Relationship between Stakeholder and Requirement";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectRequirements.ProjectRequirementID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StakeHolders.StakeholderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectRequirements.ProjectRequirementID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StakeHolders.StakeholderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StakeHolderRequirementID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StakeHolderRequirementID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StakeHolderRequirementID })
        </td>
    </tr>
}

</table>
