@model ReqManager.Entities.Link.LinkRequirementAttributesEntity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LinkRequirementAttributesEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Attributes.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attributes.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkRequirement.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkRequirement.code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RequirementAttributeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
