@model ReqManager.ViewModels.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>T-AADSP-Requirements - Sign In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Content/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/icon-font.min.css" type='text/css' />

    <script src="~/Scripts/js/Chart.js"></script>
    <link href="~/Content/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/Scripts/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>

    <link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

</head>

<body  class="sign-in-up">
    <section>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div id="page-wrapper" class="sign-in-wrapper">
                <div class="graphs">
                    <div class="sign-in-form">
                        <div class="sign-in-form-top">
                            <p><span>Sign In to T-AADSP-Requirements</span></p>
                        </div>
                        <div class="signin">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="log-input">
                                <div class="log-input-left">
                                    @Html.Label("Login", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.login, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="clearfix"> </div>
                            </div>
                            <div class="log-input">
                                <div class="log-input-left">
                                    @Html.Label("Password", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                    </div>
                                    <label>
                                        <input type="checkbox" id="enable-show"> Show Password
                                    </label>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Login" class="btn btn-default" />
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-10">
                                <a href="" data-toggle="modal" data-target="#modal-resetPassword">Reset Password</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <p>&copy @DateTime.Now.Year T-AADSP-Requirements. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">w3layouts.</a></p>
            </footer>
        }
    </section>
    <div id="modal-resetPassword" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title"><label>Reset Password</label></h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.Label("Login", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Editor("loginReset", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Document", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Editor("documentReset", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("New Password", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Editor("newPassword", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="resetPassword(); return false;">Reset</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/js/jquery.nicescroll.js"></script>
    <script src="~/Scripts/js/scripts.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        (function ($) {
            $.toggleShowPassword = function (options) {
                var settings = $.extend({
                    field: "#password",
                    control: "#toggle_show_password",
                }, options);

                var control = $(settings.control);
                var field = $(settings.field)

                control.bind('click', function () {
                    if (control.is(':checked')) {
                        field.attr('type', 'text');
                    } else {
                        field.attr('type', 'password');
                    }
                })
            };
        }(jQuery));

        $.toggleShowPassword({
            field: '#password',
            control: '#enable-show'
        });

        function resetPassword() {
            var loginReset = $('#loginReset').val();
            var documentReset = $('#documentReset').val();
            var newPassword = $('#newPassword').val();

            $.post('@Url.Action("ResetPassword", "Login")',
            { loginReset: loginReset, documentReset: documentReset, newPassword: newPassword }, function () {
                alert("The password has been successfully changed! Check the cadastral data in your email.");
                jQuery('#modal-resetPassword').modal('hide');
                $('#login').val(loginReset);
            }).fail(function (data) {
                alert(data);
            });
        };
    </script>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
