@model ReqManager.ViewModels.RequirementViewModel

@{
    ViewBag.Title = "Requirement Details";
}

<div>

    <div id="tabs">
        <ul>
            <li><a href="#req">Requirement</a></li>
            <li><a href="#rr">R-R Traceability</a></li>
            <li><a href="#ra">R-A Traceability</a></li>
            <li><a href="#stakeholder">Stakeholders</a></li>
            <li><a href="#characteristics">Characteristics</a></li>
        </ul>
        <div id="req">
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.MeasureImportance.description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MeasureImportance.description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RequirementStatus.description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RequirementStatus.description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RequirementTemplate.description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RequirementTemplate.description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RequirementType.description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RequirementType.description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Users.name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Users.name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StakeholdersProjectID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StakeholdersProjectID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.code)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.code)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.creationDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.creationDate)
                </dd>
            </dl>
        </div>
        <div id="rr">
            <table class="table">
                <tr>
                    <th>
                        Origin Code
                    </th>
                    <th>
                        Target Code
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        User
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Link Code
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.linkReq)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequirementOrigin.code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequirementTarget.code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TypeLink.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Users.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.creationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.code)
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div id="ra">
            <table class="table">
                <tr>
                    <th>
                        Artifact Code
                    </th>
                    <th>
                        Requirement Code
                    </th>
                    <th>
                        Type Link
                    </th>
                    <th>
                        User
                    </th>
                    <th>
                        Code
                    </th>
                    <th>
                        Date
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.linkReqArt)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectArtifact.code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Requirement.code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TypeLink.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Users.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.creationDate)
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div id="stakeholder">
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Creation Date
                    </th>
                </tr>
                @foreach (var item in Model.stakeholders)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DisplayName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.creationDate)
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div id="characteristics">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Active</th>
                </tr>
                @foreach (var item in Model.characteristics)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Characteristics.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Characteristics.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Characteristics.active)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    
</div>
<p>
    @Html.ActionLink("Tracking", "TrackingRequirement", "Tracking", new { id = Model.RequirementID }, null) |
    @Html.ActionLink("Change Requirement", "Rationale", "RequirementRationale", new { id = Model.RequirementID }, null) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.RequirementID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
