@model ReqManager.ViewModels.RequirementViewModel

@{
    ViewBag.Title = "Requirement Details";
}

<div>

    <div id="tabs">
        <ul>
            <li><a href="#req">Requirement</a></li>
            <li><a href="#rr">R-R Traceability</a></li>
            <li><a href="#ra">R-A Traceability</a></li>
        </ul>
        <div id="req">
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.requirement.MeasureImportance.description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.requirement.MeasureImportance.description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.requirement.RequirementStatus.description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.requirement.RequirementStatus.description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.requirement.RequirementTemplate.description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.requirement.RequirementTemplate.description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.requirement.RequirementType.description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.requirement.RequirementType.description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.requirement.Users.name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.requirement.Users.name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.requirement.StakeholdersProjectID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.requirement.StakeholdersProjectID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.requirement.code)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.requirement.code)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.requirement.description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.requirement.description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.requirement.title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.requirement.title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.requirement.creationDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.requirement.creationDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.requirement.input)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.requirement.input)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.requirement.output)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.requirement.output)
                </dd>

            </dl>
        </div>
        <div id="rr">
            <table class="table">
                <tr>
                    <th>
                        Origin Code
                    </th>
                    <th>
                        Target Code
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        User
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Link Code
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.linkReq)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequirementOrigin.code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequirementTarget.code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TypeLink.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Users.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.creationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.code)
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div id="ra">
            <table class="table">
                <tr>
                    <th>
                        Artifact Code
                    </th>
                    <th>
                        Requirement Code
                    </th>
                    <th>
                        Type Link
                    </th>
                    <th>
                        User
                    </th>
                    <th>
                        Code
                    </th>
                    <th>
                        Date
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.linkReqArt)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectArtifact.code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Requirement.code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TypeLink.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Users.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.creationDate)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>

    
</div>
<p>
    @Html.ActionLink("Tracking", "TrackingRequirement", "Tracking", new { id = Model.requirement.RequirementID }, null) |
    @Html.ActionLink("Change Requirement", "Rationale", "RequirementRationale", new { id = Model.requirement.RequirementID }, null) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.requirement.RequirementID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
