@model IEnumerable<ReqManager.ViewModels.RequirementViewModel>

@{
    ViewBag.Title = "Listing of Requirements";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Importance.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequirementStatus.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequirementType.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StakeholdersProjectID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creationDate)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Importance.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequirementStatus.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequirementType.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StakeholderProject.DisplayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RequirementID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RequirementID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RequirementID })
        </td>
    </tr>
}

</table>
