@model IEnumerable<ReqManager.Entities.Artifact.ProjectArtifactEntity>

@{
    ViewBag.Title = "Artifacts";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="artifacts" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Importance.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtifactType.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Importance.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Users.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtifactType.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.path)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creationDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ProjectArtifactID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ProjectArtifactID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ProjectArtifactID })
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#artifacts').dataTable({
            "bServerSide": true,
            "bProcessing": false,
            ajax: {
                "url": '@Url.Action("GetFilter", "ProjectArtifact")',
                "type": 'POST',
                "dataSrc": function (json) {
                    var return_data = new Array();
                    for (var i = 0; i < json.aaData.length; i++) {
                        return_data.push({
                            'importance': json.aaData[i].Importance.description,
                            'project': json.aaData[i].Project.description,
                            'user': json.aaData[i].Users.name,
                            'type': json.aaData[i].ArtifactType.description,
                            'code': json.aaData[i].code,
                            'path': json.aaData[i].path,
                            'description': json.aaData[i].description,
                            'creationDate': fixDateTime(json.aaData[i].creationDate),
                            'action': '<a href=\"/ProjectArtifact/Edit/' +
                                json.aaData[i].ProjectArtifactID + '\">Edit</a> | <a href=\"/ProjectArtifact/Details/' +
                                json.aaData[i].ProjectArtifactID + '\">Details</a> | <a href=\"/ProjectArtifact/Delete/' +
                                json.aaData[i].ProjectArtifactID + '\">Delete</a>'
                        })
                    }

                    return return_data;
                }
            },
            "aoColumns": [
                { 'data': 'importance' },
                { 'data': 'project' },
                { 'data': 'user' },
                { 'data': 'type' },
                { 'data': 'code' },
                { 'data': 'path' },
                { 'data': 'description' },
                { 'data': 'creationDate' },
                { 'data': 'action' },
            ]
        });
    });
</script>
