@model ReqManager.Entities.Project.StakeholdersEntity

@{
    ViewBag.Title = "Stakeholder Details";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Users.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassificationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StakeHolderClassification.description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StakeholderID })
</p>
