@model IEnumerable<ReqManager.Entities.Artifact.ArtifactTypeEntity>

@{
    ViewBag.Title = "Artifact Types";
}

<div class="form-group">
    @Html.ActionLink("Create New", "Create", "ArtifactType", null, new { @class = "btn btn-primary" })
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            <div class="dropdown">
                <a href="#" title="Options" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-chevron-down icon_8"></i>
                    <div class="ripple-wrapper"></div>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>@Html.ActionLink("Edit", "Edit", new { id = item.ArtifactTypeID })</li>
                    <li>@Html.ActionLink("Details", "Details", new { id = item.ArtifactTypeID })</li>
                    <li>@Html.ActionLink("Delete", "Delete", new { id = item.ArtifactTypeID })</li>
                </ul>
            </div>
        </td>
    </tr>
}

</table>
