@model ReqManager.Entities.Link.LinkBetweenRequirementsArtifactsEntity

@{
    ViewBag.Title = "Register new Link between Requirement and Artifact";
}

@using (Html.BeginForm("Create", "LinkBetweenRequirementsArtifact", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("ID", Request.Url.Segments[3].ToString())

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.RequirementID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RequirementID", null, htmlAttributes: new { @class = "form-control select2" })
                @Html.ValidationMessageFor(model => model.RequirementID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectArtifactID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProjectArtifactID", null, "SELECT THE PROJECT ARTIFACT",
               htmlAttributes: new { @class = "form-control select2" })
                @Html.ValidationMessageFor(model => model.ProjectArtifactID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TypeLinkID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TypeLinkID", null, "SELECT THE TYPE LINK", 
               htmlAttributes: new { @class = "form-control select2" })
                @Html.ValidationMessageFor(model => model.TypeLinkID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

        @Html.ActionLink("Back to Requirement", "Details", "Requirement", new { id = Request.Url.Segments[3].ToString() }, null)
    </div>
}

