@model IEnumerable<ReqManager.Entities.Link.LinkBetweenRequirementsArtifactsEntity>

@{
    ViewBag.Title = "Links between Requirements and Artifacts";
}

<table id="linkArtifacts" class="display">
    <thead>
        <tr>
            <th>
                Link Code
            </th>
            <th>
                Requirement Code
            </th>
            <th>
                Artifact Code
            </th>
            <th>
                Type Link
            </th>
            <th>
                Create By
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Requirement.code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectArtifact.code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeLink.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Users.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creationDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.LinkArtifactRequirementID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.LinkArtifactRequirementID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.LinkArtifactRequirementID })
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#linkArtifacts').dataTable({
            "bServerSide": true,
            "bProcessing": false,
            ajax: {
                "url": '@Url.Action("GetFilter", "LinkBetweenRequirementsArtifact")',
                "type": 'POST',
                "dataSrc": function (json) {
                    var return_data = new Array();
                    for (var i = 0; i < json.aaData.length; i++) {
                        return_data.push({
                            'code': json.aaData[i].code,
                            'requirement': json.aaData[i].Requirement.code,
                            'artifact': json.aaData[i].ProjectArtifact.code,
                            'type': json.aaData[i].TypeLink.description,
                            'name': json.aaData[i].Users.name,
                            'creationDate': fixDateTime(json.aaData[i].creationDate),
                            'action': '<a href=\"/LinkBetweenRequirementsArtifact/Edit/' +
                                json.aaData[i].LinkArtifactRequirementID + '\">Edit</a> | <a href=\"/LinkBetweenRequirementsArtifact/Details/' +
                                json.aaData[i].LinkArtifactRequirementID + '\">Details</a> | <a href=\"/LinkBetweenRequirementsArtifact/Delete/' +
                                json.aaData[i].LinkArtifactRequirementID + '\">Delete</a> | <a href=\"/LinkArtifactAttributes/CreateNewAttributeForLink/' +
                                json.aaData[i].LinkArtifactRequirementID + '\">Add Attribute</a>'
                        })
                    }

                    return return_data;
                }
            },
            "aoColumns": [
                { 'data': 'code' },
                { 'data': 'requirement' },
                { 'data': 'artifact' },
                { 'data': 'type' },
                { 'data': 'name' },
                { 'data': 'creationDate' },
                { 'data': 'action' },
            ]
        });
    });
</script>