@model IEnumerable<ReqManager.Entities.Project.ProjectRequirementsEntity>

@{
    ViewBag.Title = "Listing of Relationship between Project and Requirement";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Project.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequirementID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.traceable)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Project.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.nickName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Requirement.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.traceable)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectRequirementID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProjectRequirementID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectRequirementID })
        </td>
    </tr>
}

</table>
