@model ReqManager.Entities.Requirement.RequirementRequestForChangesEntity

@{
    ViewBag.Title = "Request for Changes in Requirement Details";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Requirement.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requirement.code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StakeholderRequirement.StakeHolderRequirementID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StakeholderRequirement.StakeHolderRequirementID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.request)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.request)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RequirementRequestForChangesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
