@model IEnumerable<ReqManager.Entities.Requirement.RequirementRequestForChangesEntity>

@{
    ViewBag.Title = "Listing of Request for Changes in Requirements";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Requirement.code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StakeholderRequirement.StakeHolderRequirementID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.request)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestStatus.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Requirement.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StakeholderRequirement.DisplayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.request)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestStatus.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RequirementRequestForChangesID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RequirementRequestForChangesID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RequirementRequestForChangesID })
        </td>
    </tr>
}

</table>
