@model ReqManager.Entities.Requirement.RequirementRequestForChangesEntity

@{
    ViewBag.Title = "Request for Changes in Requirement";
}

@using (Html.BeginForm("RequestNewChange", "RequirementRequestForChanges", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.Hidden("ID", Request.Url.Segments[3].ToString())

        <div class="form-group">
            @Html.Label("Requirement", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RequirementID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessage("RequirementID", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.request, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.request, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.request, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Requirement", "Details", "Requirement", new { id = Request.Url.Segments[3].ToString() }, null)
</div>
