@model ReqManager.Entities.Requirement.RequirementActionHistoryEntity

@{
    ViewBag.Title = "Requirements Actions Details";
}

<h2>Details</h2>

<div>
    <h4>RequirementActionHistoryEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Requirement.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requirement.code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserLogin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserLogin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.changedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.changedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RequirementActionHistoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
