@model ReqManager.Entities.Project.StakeholdersProjectEntity

@{
    ViewBag.Title = "Details Relationship between Stakeholder and Project";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stakeholders.StakeholderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stakeholders.DisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StakeholdersProjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
