@model ReqManager.Entities.Project.StakeholdersProjectEntity

@{
    ViewBag.Title = "Stakeholders in Project";
}

@Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.StakeholdersProjectID)

    <fieldset disabled>
        <div class="form-group">
            @Html.Label("Project", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProjectID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProjectID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Stakeholder", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StakeholderID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StakeholderID, "", new { @class = "text-danger" })
            </div>
        </div>
    </fieldset>

    <div class="form-group">
        @Html.Label("Importance to Requirement", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select id="importanceValue" class="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="edit" type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to Project", "Details", "Projects", new { id = Model.ProjectID }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            var StakeholdersProjectID = $('#StakeholdersProjectID').val();
            $.getJSON('@Url.Action("Get", "StakeholdersProject")', { ID: StakeholdersProjectID }, function (response) {
                $('#importanceValue').barrating('set', response.importanceValue);
            });
        });

        $("#edit").click(function () {
            var StakeholdersProjectID = $('#StakeholdersProjectID').val();
            var importanceValue = $('#importanceValue').val();
            $.post('@Url.Action("EditImportance", "StakeholdersProject")',
                { StakeholdersProjectID: StakeholdersProjectID, importanceValue: importanceValue }, function () {
                    alert("Register was change with Success!");
                    window.location = '@Url.Action("Details", "Projects", new { id = Model.ProjectID }, null)'
                });
        });


    </script>
}
