@model IEnumerable<ReqManager.Entities.Project.StakeholdersProjectEntity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Project.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stakeholders.StakeholderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Project.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stakeholders.StakeholderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StakeholdersProjectID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StakeholdersProjectID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StakeholdersProjectID })
        </td>
    </tr>
}

</table>
