@model ReqManager.Entities.Acess.RoleControllerActionEntity

@{
    ViewBag.Title = "Details Role - Actions";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ControllerActionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControllerActionID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoleControllerActionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
