@model ReqManager.Model.RoleControllerAction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RoleControllerAction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ControllerAction.controller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControllerAction.controller)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoleControllerActionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
