@model ReqManager.ViewModels.ProjectDetailsViewModel

@{
    ViewBag.Title = "Project Details";
}

<div>

    <div id="tabs">
        <ul>
            <li><a href="#prj">Project</a></li>
            <li><a href="#req">Requirements</a></li>
            <li><a href="#requirementMatrix">Requirement Matrix</a></li>
            <li><a href="#art">Artifacts</a></li>
            <li><a href="#stakeholders">Stakeholders</a></li>

        </ul>
        <div id="prj">
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.project.ProjectPhases.description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.project.ProjectPhases.description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.project.Users.name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.project.Users.name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.project.description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.project.description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.project.pathForTraceability)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.project.pathForTraceability)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.project.environmentalInformation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.project.environmentalInformation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.project.managementInformation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.project.managementInformation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.project.startDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.project.startDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.project.endDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.project.endDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.project.creationDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.project.creationDate)
                </dd>

            </dl>
        </div>
        <div id="req">
            <table class="table">
                <tr>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Create By</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Date</th>
                </tr>
                @foreach (var item in Model.requirements)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Users.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequirementStatus.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequirementType.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.creationDate)
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div id="requirementMatrix">
            <table class="table">
                <thead>
                    <tr>
                        @for (int i = 0; i < Model.requirementMatrix.Columns.Count; i++)
                        {
                            <td>@Html.Label(Model.requirementMatrix.Columns[i].ColumnName)</td>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.requirementMatrix.Rows.Count; i++)
                    {
                        <tr>
                            @for (int j = 0; j < Model.requirementMatrix.Columns.Count; j++)
                            {
                                <td>
                                    @if (!string.IsNullOrEmpty(Model.requirementMatrix.Rows[i][j].ToString()))
                    {
                        if (j.Equals(0))
                        {
                                            @Html.Label(Model.requirementMatrix.Rows[i][j].ToString())
                                        }
                                        else
                                        {
                                            @Html.ActionLink(
                                            Model.requirementMatrix.Rows[i][j].ToString(),
                                            "",
                                            "",
                                            null,
                                            new { @class = "form-control", onclick = "search()" }
                                            )
                                        }
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="art">
            <table class="table">
                <tr>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Importance</th>
                    <th>Create By</th>
                    <th>Date</th>
                </tr>
                @foreach (var item in Model.artifacts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ArtifactType.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Importance.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Users.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.creationDate)
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div id="stakeholders">
            <table class="table">
                <tr>
                    <th>Stakeholder</th>
                    <th>Classification</th>
                    <th>Creation Date</th>
                </tr>
                @foreach (var item in Model.stakeholders)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Stakeholders.DisplayName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Stakeholders.StakeHolderClassification.description)</td>
                        <td>@Html.DisplayFor(modelItem => item.creationDate)</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Add Requirement", "Create", "Requirement", new { id = Model.project.ProjectID }, null) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.project.ProjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        function search() {
            console.log('oi');
            @*clearDropDown("ProjectRequirementID");
            clearDropDown("StakeholdersProjectID");

            $('#ProjectRequirementID').append("<option value='" + 0 + "'>SELECT THE REQUIREMENT</option>");
            $('#StakeholdersProjectID').append("<option value='" + 0 + "'>SELECT THE STAKEHOLDER</option>");

            $.getJSON('@Url.Action("GetRequirementsFromProject", "ProjectRequirements")', { ProjectID: id }, function (response) {
                $.each(response, function (index, item) {
                    var optionExists = ($('#ProjectRequirementID option[value=' + item.ProjectRequirementID + ']').length > 0);
                    if (!optionExists)
                        $('#ProjectRequirementID').append("<option value='" + item.ProjectRequirementID + "'>" + item.Requirement.DisplayName + "</option>");
                });
            });

            $.getJSON('@Url.Action("GetStakeholdersFromProject", "StakeholdersProject")', { ProjectID: id }, function (response) {
                $.each(response, function (index, item) {
                    var optionExists = ($('#StakeholdersProjectID option[value=' + item.StakeholdersProjectID + ']').length > 0);
                    if (!optionExists)
                        $('#StakeholdersProjectID').append("<option value='" + item.StakeholdersProjectID + "'>" + item.Stakeholders.DisplayName + "</option>");
                });
            });*@
        }
    </script>
}