@model ReqManager.ViewModels.ProjectDetailsViewModel

@{
    ViewBag.Title = "Project Details";
}

<div class="form-group">
    <div class="dropdown">
        <a href="#" title="Options" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-cog icon_8"></i>
            <i class="fa fa-chevron-down icon_8"></i>
            <div class="ripple-wrapper"></div>
        </a>
        <ul class="dropdown-menu">
            <li>
                @Html.ActionLink("Add Requirement", "Create", "Requirement", new { id = Model.project.ProjectID }, null)
            </li>
            <li>
                <a href="" onclick="addStakeholder(); return false;">Add Stakeholder</a>
            </li>
            <li>
                @Html.ActionLink("Edit", "Edit", new { id = Model.project.ProjectID })
            </li>
            <li>
                <a href="" onclick="requestPrintDocumentRequirement(); return false;">Print Requirement Document</a>
            </li>
            <li>
                @Html.ActionLink("Back to Projects", "Index")
            </li>
        </ul>
    </div>
</div>


<div>
    @Html.Hidden("ID", Request.Url.Segments[3].ToString())
    <div id="tabs">
        <ul>
            <li><a href="#prj">Project</a></li>
            <li><a href="#stakeholders">Stakeholders</a></li>
            <li><a href="#req">Requirements</a></li>
            <li><a href="#art">Artifacts</a></li>
            <li><a href="#requirementMatrix">Requirement Matrix</a></li>
            <li><a href="#artifactMatrix">Artifact Matrix</a></li>
            <li><a href="#history">History</a></li>
        </ul>
        <div id="prj">
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Description
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.project.description)
                </dd>

                <dt>
                    Phase
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.project.ProjectPhases.description)
                </dd>

                <dt>
                    Create By
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.project.Users.name)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.project.pathForTraceability)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.project.pathForTraceability)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.project.environmentalInformation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.project.environmentalInformation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.project.managementInformation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.project.managementInformation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.project.startDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.project.startDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.project.endDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.project.endDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.project.creationDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.project.creationDate)
                </dd>

                <dt>
                    Project Cost
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.project.cost)
                </dd>

                <dt>
                    Requirements Cost
                </dt>

                <dd id="requirementCost">
                    
                </dd>

            </dl>
        </div>
        <div id="req">
            <table id="requirementsTable">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Title</th>
                        <th>Create By</th>
                        <th>Status</th>
                        <th>Type</th>
                        <th>Pre-Traceability</th>
                        <th>Creation Date</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Cost</th>
                        <th>Time</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.requirements)
                    {
                    <tr>
                        <td>
                            <a href="" data-code='@item.code'
                               onclick="RequirementDetails($(this)); return false;">
                                @Html.DisplayFor(modelItem => item.code)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Users.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequirementStatus.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequirementType.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.preTraceability)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.creationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.startDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.endDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cost)
                        </td>
                        <td>

                            @if (item.endDate != null)
                                {
                                    if (Convert.ToDateTime(item.endDate).CompareTo(Model.project.endDate) > 0
                                        && !item.RequirementStatusID.Equals(7))
                                    {
                            @Html.Label("End date after project completion!")
                                    }

                                    if (Convert.ToDateTime(item.endDate).CompareTo(DateTime.Now) < 0
                                        && !item.RequirementStatusID.Equals(7))
                                    {
                            @Html.Label("Out of Time!")
                                    }
                                }

                            @if (item.startDate != null)
                                {
                                    if (Convert.ToDateTime(item.startDate).CompareTo(Model.project.endDate) > 0)
                                    {
                            @Html.Label("Requirement will start after project completion!")
                                    }

                                    if (Model.project.endDate.CompareTo(item.startDate) > 0)
                                    {
                            @Html.Label(Convert.ToDateTime(item.endDate).Subtract(DateTime.Now).Days.ToString() +
                                       " Days to End!")
                                    }
                                }

                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", "Requirement", new { id = item.RequirementID }, null)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="requirementMatrix">
            <table class="display">
                <thead>
                    <tr>
                        @for (int i = 0; i < Model.requirementMatrix.Columns.Count; i++)
                        {
                        <td>
                            <a href="" data-code='@Model.requirementMatrix.Columns[i].ColumnName'
                               onclick="RequirementDetails($(this)); return false;">
                                @Html.Label(Model.requirementMatrix.Columns[i].ColumnName)
                            </a>
                        </td>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.requirementMatrix.Rows.Count; i++)
                    {
                    <tr>
                        @for (int j = 0; j < Model.requirementMatrix.Columns.Count; j++)
                            {
                        <td>
                            @if (!string.IsNullOrEmpty(Model.requirementMatrix.Rows[i][j].ToString()))
                                    {
                                        if (j.Equals(0))
                                        {
                            <a href="" data-code='@Model.requirementMatrix.Rows[i][j].ToString()'
                               onclick="RequirementDetails($(this)); return false;">
                                @Html.Label(Model.requirementMatrix.Rows[i][j].ToString())
                            </a>
                                        }
                                        else
                                        {
                            <a href="" onclick="ReqToReqLinkDetails($(this)); return false;"
                               data-origin='@Model.requirementMatrix.Rows[i][0].ToString()'
                               data-target='@Model.requirementMatrix.Columns[j].ColumnName'>
                                @Model.requirementMatrix.Rows[i][j].ToString()
                            </a>
                                        }
                                    }
                        </td>
                            }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="artifactMatrix">
            <table class="display">
                <thead>
                    <tr>
                        @for (int i = 0; i < Model.artifactMatrix.Columns.Count; i++)
                        {
                        <td>
                            <a href="" data-code='@Model.artifactMatrix.Columns[i].ColumnName'
                               onclick="RequirementDetails($(this)); return false;">
                                @Html.Label(Model.artifactMatrix.Columns[i].ColumnName)
                            </a>
                        </td>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.artifactMatrix.Rows.Count; i++)
                    {
                    <tr>
                        @for (int j = 0; j < Model.artifactMatrix.Columns.Count; j++)
                            {
                        <td>
                            @if (!string.IsNullOrEmpty(Model.artifactMatrix.Rows[i][j].ToString()))
                                    {
                                        if (j.Equals(0))
                                        {
                            <a href="" data-code='@Model.artifactMatrix.Rows[i][j].ToString()'
                               onclick="ArtifactDetails($(this)); return false;">
                                @Html.Label(Model.artifactMatrix.Rows[i][j].ToString())
                            </a>
                                        }
                                        else
                                        {
                            <a href="" onclick="ArtToReqLinkDetails($(this)); return false;"
                               data-artifact='@Model.artifactMatrix.Rows[i][0].ToString()'
                               data-requirement='@Model.artifactMatrix.Columns[j].ColumnName'>
                                @Model.artifactMatrix.Rows[i][j].ToString()
                            </a>
                                        }
                                    }
                        </td>
                            }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="art">
            <table class="table">
                <tr>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Importance</th>
                    <th>Create By</th>
                    <th>Date</th>
                </tr>
                @foreach (var item in Model.artifacts)
                {
                <tr>
                    <td>
                        <a href="" data-code='@item.code'
                           onclick="ArtifactDetails($(this)); return false;">
                            @Html.DisplayFor(modelItem => item.code)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArtifactType.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Importance.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Users.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.creationDate)
                    </td>
                </tr>
                }
            </table>
        </div>
        <div id="history">
            <table class="table">
                <tr>
                    <th>Changed By</th>
                    <th>Date</th>
                    <th>Phase Before Change</th>
                    <th>Start Date Before Change</th>
                    <th>End Date Before Change</th>
                </tr>
                @foreach (var item in Model.history)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Users.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.changedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descriptionPhases)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.startDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.endDate)
                    </td>
                </tr>
                }
            </table>
        </div>
        <div id="stakeholders">
            <table id="stakeholderProject" class="table">
                <thead>
                    <tr>
                        <th>Stakeholder</th>
                        <th>Activities/Roles</th>
                        <th>Importance to Project</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.stakeholders)
                    {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.DisplayName)</td>
                        <td>@Html.DisplayFor(modelItem => item.description)</td>
                        <td>@Html.DisplayFor(modelItem => item.importanceValue)</td>
                        <td>@Html.DisplayFor(modelItem => item.creationDate)</td>
                        <td>
                            <p>
                                @Html.ActionLink("Edit", "Edit",
                            "StakeholdersProject",
                            new { id = item.StakeholdersProjectID }, null)
                            </p>
                            <p>
                                @Html.ActionLink("Delete", "Delete",
                            "StakeholdersProject",
                            new { id = item.StakeholdersProjectID }, null)
                            </p>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="modal-requirementDocument" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><label>Print Document Requirement</label></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Requirement Type", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("RequirementTypeID", Enumerable.Empty<SelectListItem>(), "SELECT THE REQUIREMENT TYPE", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessage("RequirementTypeID", "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="printDocumentRequirement(); return false;">Print</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-addStakeholder" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><label>Add Stakeholder to this Project</label></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Stakeholder", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("StakeholdersID", Enumerable.Empty<SelectListItem>(), "SELECT THE STAKEHOLDER", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    @*<div class="form-group">
                        @Html.Label("Activities/Roles", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <textarea id="stakeholderDescription" rows="5" style="resize:none;" class="form-control"></textarea>
                        </div>
                    </div>*@
                    <div class="form-group">
                        @Html.Label("Importance", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select id="stakeholderRating" class="rating">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="confirmAddStakeholder(); return false;">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-requirementDetails" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Requirements Details</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">

                    <dt>
                        Title
                    </dt>

                    <dd>
                        <label id="title"></label>
                    </dd>

                    <dt>
                        Importance
                    </dt>

                    <dd>
                        <label id="importance"></label>
                    </dd>

                    <dt>
                        Status
                    </dt>

                    <dd>
                        <label id="status"></label>
                    </dd>

                    <dt>
                        Type
                    </dt>

                    <dd>
                        <label id="type"></label>
                    </dd>

                    <dt>
                        Create By
                    </dt>

                    <dd>
                        <label id="user"></label>
                    </dd>

                    <dt>
                        Creation Date
                    </dt>

                    <dd>
                        <label id="creationDate"></label>
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-artifactDetails" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Artifact Details</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>
                        Importance
                    </dt>

                    <dd>
                        <label id="mdArtifactImportance"></label>
                    </dd>

                    <dt>
                        Project
                    </dt>

                    <dd>
                        <label id="mdArtifactProject"></label>
                    </dd>

                    <dt>
                        Create By
                    </dt>

                    <dd>
                        <label id="mdArtifactCreateBy"></label>
                    </dd>

                    <dt>
                        Type
                    </dt>

                    <dd>
                        <label id="mdArtifactType"></label>
                    </dd>

                    <dt>
                        Code
                    </dt>

                    <dd>
                        <label id="mdArtifactCode"></label>
                    </dd>

                    <dt>
                        Description
                    </dt>

                    <dd>
                        <label id="mdArtifactDescription"></label>
                    </dd>

                    <dt>
                        Date
                    </dt>

                    <dd>
                        <label id="mdArtifactDate"></label>
                    </dd>

                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-linkBetweenRequirements" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Link between Requirements Details</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">

                    <dt>
                        Code
                    </dt>

                    <dd>
                        <label id="mdLinkRequirementCode"></label>
                    </dd>

                    <dt>
                        Link Name
                    </dt>

                    <dd>
                        <label id="mdLinkRequirementName"></label>
                    </dd>

                    <dt>
                        Code Origin
                    </dt>

                    <dd>
                        <label id="mdLinkRequirementOrigin"></label>
                    </dd>

                    <dt>
                        Code Target
                    </dt>

                    <dd>
                        <label id="mdLinkRequirementTarget"></label>
                    </dd>

                    <dt>
                        Create By
                    </dt>

                    <dd>
                        <label id="mdLinkRequirementUser"></label>
                    </dd>

                    <dt>
                        Type Link
                    </dt>

                    <dd>
                        <label id="mdLinkRequirementTypeLink"></label>
                    </dd>

                    <dt>
                        Creation Date
                    </dt>

                    <dd>
                        <label id="mdLinkRequirementCreationDate"></label>
                    </dd>
                </dl>
                <table id="attributesLinkRequirementTable" class="table">
                    <tr>
                        <th>
                            Attributes
                        </th>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-linkBetweenArtifact" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Link between Requirements and Artifact Details</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">

                    <dt>
                        Code
                    </dt>

                    <dd>
                        <label id="mdLinkArtifactCode"></label>
                    </dd>

                    <dt>
                        Link Name
                    </dt>

                    <dd>
                        <label id="mdLinkArtifactName"></label>
                    </dd>

                    <dt>
                        Artifact Code
                    </dt>

                    <dd>
                        <label id="mdLinkArtifact"></label>
                    </dd>

                    <dt>
                        Requirement Code
                    </dt>

                    <dd>
                        <label id="mdLinkArtifactRequirement"></label>
                    </dd>

                    <dt>
                        Create By
                    </dt>

                    <dd>
                        <label id="mdLinkArtifactUser"></label>
                    </dd>

                    <dt>
                        Type Link
                    </dt>

                    <dd>
                        <label id="mdLinkArtifactTypeLink"></label>
                    </dd>

                    <dt>
                        Creation Date
                    </dt>

                    <dd>
                        <label id="mdLinkArtifactCreationDate"></label>
                    </dd>
                </dl>
                <table id="attributesLinkArtifactTable" class="table">
                    <tr>
                        <th>
                            Attributes
                        </th>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#requirementsTable').dataTable();
            var ProjectID = $('#ID').val();
            $.get('@Url.Action("GetRequirementCostByProject", "Requirement")',
                { ProjectID: ProjectID }, function (data) {
                    $('#requirementCost').html(data);
                });
        });

        function addStakeholder() {
            $.getJSON('@Url.Action("GetAll", "Stakeholders")', function (response) {
                $.each(response, function (index, item) {
                    var optionExists = ($('#StakeholdersID option[value=' + item.StakeholderID + ']').length > 0);
                    if (!optionExists)
                        $('#StakeholdersID').append("<option value='" + item.StakeholderID + "'>" + item.DisplayName + "</option>");
                });
            });

            jQuery('#modal-addStakeholder').modal();
        };

        function confirmAddStakeholder() {
            var StakeholderID = $('#StakeholdersID').val();
            var ProjectID = $('#ID').val();
            var description = $('#stakeholderDescription').val();
            var importanceValue = $('#stakeholderRating').val();

            $.post('@Url.Action("Add", "StakeholdersProject")',
                { StakeholderID: StakeholderID, ProjectID: ProjectID, description: description, importanceValue: importanceValue }, function () {
                    jQuery('#modal-addStakeholder').modal('hide');
                    alert("Register was made with Success!");

                    $.getJSON('@Url.Action("GetStakeholdersFromProject", "StakeholdersProject")',
                        { ProjectID: ProjectID }, function (response) {
                            $('#stakeholderProject tbody').remove();
                            $.each(response, function (index, item) {
                                $('#stakeholderProject').append(
                                    '<tr><td>' + item.DisplayName + '</td><td>' + item.description + '</td><td>' + item.importanceValue + '</td><td>' + fixDateTime(item.creationDate) + '</td></tr>');
                            });
                        });
                });
        };

        function printDocumentRequirement() {
            var ProjectID = $("#ID").val();
            var RequirementTypeID = $("#RequirementTypeID").val();
            window.open('/Projects/PrintDocumentRequirement?ProjectID=' + ProjectID + '&RequirementTypeID=' + RequirementTypeID);
            jQuery('#modal-requirementDocument').modal('hide');
        };

        function requestPrintDocumentRequirement() {
            var id = $("#ID").val();
            clearDropDown("RequirementTypeID");
            $('#RequirementTypeID').append("<option value='" + 0 + "'>SELECT THE REQUIREMENT TYPE</option>");

            $.getJSON('@Url.Action("GetRequirementsFromProject", "Projects")', { ProjectID: id }, function (response) {
                $.each(response, function (index, item) {
                    var optionExists = ($('#RequirementTypeID option[value=' + item.RequirementTypeID + ']').length > 0);
                    if (!optionExists)
                        $('#RequirementTypeID').append("<option value='" + item.RequirementTypeID + "'>" + item.RequirementType.description + "</option>");
                });
            });

            jQuery('#modal-requirementDocument').modal();
        };

        function ArtifactDetails(artifact) {
            var code = artifact.attr('data-code');

            $.getJSON('@Url.Action("GetWithCode", "ProjectArtifact")',
                { code: code }, function (response) {
                    $("#mdArtifactImportance").html(response.Importance.description);
                    $('#mdArtifactProject').html(response.Project.description);
                    $('#mdArtifactCreateBy').html(response.Users.name);
                    $('#mdArtifactCode').html(response.code);
                    $('#mdArtifactType').html(response.ArtifactType.description);
                    $('#mdArtifactDescription').html(response.description);
                    $('#mdArtifactDate').html(fixDateTime(response.creationDate));
                });

            jQuery('#modal-artifactDetails').modal();
        };

        function RequirementDetails(requirement) {

            var code = requirement.attr('data-code');

            $.getJSON('@Url.Action("GetWithCode", "Requirement")',
                { code: code }, function (response) {
                    $("#importance").html(response.Importance.description);
                    $('#status').html(response.RequirementStatus.description);
                    $('#type').html(response.RequirementType.description);
                    $('#user').html(response.Users.name);
                    $('#title').html(response.title);
                    $('#creationDate').html(fixDateTime(response.creationDate));
                });

            jQuery('#modal-requirementDetails').modal();
        };

        function ReqToReqLinkDetails(link) {
            var ReqOrigin = link.attr('data-origin');
            var ReqTarget = link.attr('data-target');

            $.getJSON('@Url.Action("GetLink", "LinkBetweenRequirements")',
                { ReqOrigin: ReqOrigin, ReqTarget: ReqTarget }, function (response) {
                    console.log(response);

                    $("#mdLinkRequirementCode").html(response.code);
                    $('#mdLinkRequirementName').html(response.DisplayName);
                    $('#mdLinkRequirementOrigin').html(response.RequirementOrigin.DisplayName);
                    $('#mdLinkRequirementTarget').html(response.RequirementTarget.DisplayName);
                    $('#mdLinkRequirementUser').html(response.Users.name);
                    $('#mdLinkRequirementTypeLink').html(response.TypeLink.description);
                    $('#mdLinkRequirementCreationDate').html(fixDateTime(response.creationDate));

                    $.getJSON('@Url.Action("GetAttributes", "LinkRequirementAttributes")',
                    { LinkRequirementsID: response.LinkRequirementsID },
                    function (response) {
                        $.each(response, function (i, item) {
                            $('#attributesLinkRequirementTable').append('<tr><td>' + item.DisplayName + '</td></tr>');
                        });
                    });
                });

            jQuery('#modal-linkBetweenRequirements').modal();
        };

        function ArtToReqLinkDetails(link) {
            var ArtifactCode = link.attr('data-artifact');
            var RequirementCode = link.attr('data-requirement');

            console.log(ArtifactCode);
            console.log(RequirementCode);

            $.getJSON('@Url.Action("GetLink", "LinkBetweenRequirementsArtifact")',
                { ArtifactCode: ArtifactCode, RequirementCode: RequirementCode }, function (response) {
                    console.log(response);

                    $("#mdLinkArtifactCode").html(response.code);
                    $('#mdLinkArtifactName').html(response.DisplayName);
                    $('#mdLinkArtifact').html(response.ProjectArtifact.DisplayName);
                    $('#mdLinkArtifactRequirement').html(response.Requirement.DisplayName);
                    $('#mdLinkArtifactUser').html(response.Users.name);
                    $('#mdLinkArtifactTypeLink').html(response.TypeLink.description);
                    $('#mdLinkArtifactCreationDate').html(fixDateTime(response.creationDate));

                    $.getJSON('@Url.Action("GetAttributes", "LinkArtifactAttributes")',
                    { LinkArtifactRequirementID: response.LinkArtifactRequirementID },
                    function (response) {
                        $.each(response, function (i, item) {
                            $('#attributesLinkArtifactTable').append('<tr><td>' + item.DisplayName + '</td></tr>');
                        });
                    });
                });

            jQuery('#modal-linkBetweenArtifact').modal();
        };
    </script>

}