@model IEnumerable<ReqManager.Entities.Project.ProjectEntity>
@{
    ViewBag.Title = "Projects";
}

    <div class="form-group">
        @Html.ActionLink("Create New", "Create", "Projects", null, new { @class = "btn btn-primary" })
    </div>

    <table id="projects" class="display">
        <thead>
            <tr>
                <th>
                    Code
                </th>
                <th>
                    Phase
                </th>
                <th>
                    User
                </th>
                <th>
                    Description
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.startDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.endDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.creationDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#projects').dataTable({
            "bServerSide": true,
            "bProcessing": false,
            searchDelay: 2000,
            ajax: {
                "url": '@Url.Action("GetFilter", "Projects")',
                "type": 'POST',
                "dataSrc": function (json) {
                    var return_data = new Array();
                    for (var i = 0; i < json.aaData.length; i++) {
                        return_data.push({
                            'code': json.aaData[i].code,
                            'phase': json.aaData[i].ProjectPhases.description,
                            'name': json.aaData[i].Users.name,
                            'description': json.aaData[i].description,
                            'startDate': fixDateTime(json.aaData[i].startDate),
                            'endDate': fixDateTime(json.aaData[i].endDate),
                            'creationDate': fixDateTime(json.aaData[i].creationDate),
                            'action':
                                '<div class="dropdown">' +
                                '<a href="#" title="Options" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">' +
                                '<i class="fa fa-chevron-down icon_8"></i>' +
                                '<div class="ripple-wrapper"></div>' +
                                '</a>' +
                                '<ul class="dropdown-menu dropdown-menu-right">' +
                                '<li><a href=\"../Projects/Edit/' + json.aaData[i].ProjectID + '\">Edit</a></li>' +
                                '<li><a href=\"../Projects/Details/' + json.aaData[i].ProjectID + '\">Details</a></li>' +
                                '<li><a href=\"../Projects/Delete/' + json.aaData[i].ProjectID + '\">Delete</a></li>' +
                                '</ul></div>'
                        })
                    }

                    return return_data;
                }
            },
            "aoColumns": [
                { 'data': 'code' },
                { 'data': 'phase' },
                { 'data': 'name' },
                { 'data': 'description' },
                { 'data': 'startDate' },
                { 'data': 'endDate' },
                { 'data': 'creationDate' },
                { 'data': 'action' },
            ]
        });
    });
</script>
