@model IEnumerable<ReqManager.Entities.Project.ProjectEntity>
@{
    ViewBag.Title = "Projects";
}
<p>5
    @Html.ActionLink("Create New", "Create")
</p>
<table id="projects" class="display">
    <thead>
        <tr> 
            <th>
                @Html.DisplayNameFor(model => model.code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectPhases.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.startDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectPhases.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Users.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.startDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.endDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creationDate)
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#projects').dataTable({
            "bServerSide": true,
            "bProcessing": false,
            ajax: {
                "url": '@Url.Action("GetFilter", "Projects")',
                "type": 'POST',
                "dataSrc": function (json) {
                    var return_data = new Array();
                    for (var i = 0; i < json.aaData.length; i++) {
                        return_data.push({
                            'code': json.aaData[i].code,
                            'description': json.aaData[i].ProjectPhases.description,
                            'name': json.aaData[i].Users.name,
                            'description': json.aaData[i].description,
                            'startDate': fixDateTime(json.aaData[i].startDate),
                            'endDate': fixDateTime(json.aaData[i].endDate),
                            'creationDate': fixDateTime(json.aaData[i].creationDate),
                            'action': '<a href=\"/Projects/Edit/' +
                                json.aaData[i].ProjectID + '\">Edit</a> | <a href=\"/Projects/Details/' +
                                json.aaData[i].ProjectID + '\">Details</a> | <a href=\"/Projects/Delete/' +
                                json.aaData[i].ProjectID + '\">Delete</a>'
                        })
                    }

                    return return_data;
                }
            },
            "aoColumns": [
                { 'data': 'code' },
                { 'data': 'description' },
                { 'data': 'name' },
                { 'data': 'description' },
                { 'data': 'startDate' },
                { 'data': 'endDate' },
                { 'data': 'creationDate' },
                { 'data': 'action' },
            ]
        });
    });
</script>
