@model ReqManager.Models.RoleControllerAction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RoleControllerAction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_controllerAction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_controllerAction)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_roleControllerAction }) |
    @Html.ActionLink("Back to List", "Index")
</p>
