@model ReqManager.Entities.Project.HistoryProjectEntity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HistoryProjectEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descriptionPhases)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descriptionPhases)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.changedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.changedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HistoryProjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
