<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ReqManager</title>

    <meta name="description" content="Free Admin Template Based On Twitter Bootstrap 3.x">
    <meta name="author" content="">
    <meta name="msapplication-TileColor" content="#5bc0de" />
    <meta name="msapplication-TileImage" content="../Content/assets/img/metis-tile.png" />

    @Styles.Render("~/Scripts/css/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="../Content/assets/lib/jquery/jquery.js"></script>

    <link rel="stylesheet" href="../Content/assets/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../Content/assets/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../Content/assets/css/main.css">
    <link rel="stylesheet" href="../Content/assets/lib/metismenu/metisMenu.css">
    <link rel="stylesheet" href="../Content/assets/lib/onoffcanvas/onoffcanvas.css">
    <link rel="stylesheet" href="../Content/assets/lib/animate.css/animate.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        less = {
            env: "development",
            relativeUrls: false,
            rootpath: "/assets/"
        };
    </script>
    <link rel="stylesheet" href="../Content/assets/css/style-switcher.css">
    <link rel="stylesheet/less" type="text/css" href="../Content/assets/less/theme.less">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.js"></script>
</head>
<body>
    <div class="bg-dark dk" id="wrap">
        <div id="top">
            <!-- .navbar -->
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container-fluid">


                    <!-- Brand and toggle get grouped for better mobile display -->
                    <header class="navbar-header">

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h4>ReqManager</h4>
                        @*<a href="index.html" class="navbar-brand"><img src="../Content/assets/img/logo.png" alt=""></a>*@

                    </header>



                    <div class="topnav">
                        <div class="btn-group">
                            <a data-placement="bottom" data-original-title="Fullscreen" data-toggle="tooltip"
                               class="btn btn-default btn-sm" id="toggleFullScreen">
                                <i class="glyphicon glyphicon-fullscreen"></i>
                            </a>
                        </div>

                        <div class="btn-group">
                            <a href="login.html" data-toggle="tooltip" data-original-title="Logout" data-placement="bottom"
                               class="btn btn-metis-1 btn-sm">
                                <i class="fa fa-power-off"></i>
                            </a>
                        </div>
                        <div class="btn-group">
                            <a data-placement="bottom" data-original-title="Show / Hide Left" data-toggle="tooltip"
                               class="btn btn-primary btn-sm toggle-left" id="menu-toggle">
                                <i class="fa fa-bars"></i>
                            </a>
                            <a href="#right" data-toggle="onoffcanvas" class="btn btn-default btn-sm" aria-expanded="false">
                                <span class="fa fa-fw fa-comment"></span>
                            </a>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
            </nav>
            <!-- /.navbar -->
            <header class="head">
                <div class="search-bar">
                    <form class="main-search" action="">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Live Search ...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-sm text-muted" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                    <!-- /.main-search -->
                </div>
                <!-- /.search-bar -->
                <div class="main-bar">
                    <h3>
                        @ViewBag.Title
                    </h3>
                </div>
                <!-- /.main-bar -->
            </header>
            <!-- /.head -->
        </div>
        <!-- /#top -->
        <div id="left">
            <div class="media user-media bg-dark dker">
                <div class="user-media-toggleHover">
                    <span class="fa fa-user"></span>
                </div>
                <div class="user-wrapper bg-dark">
                    <a class="user-link" href="">
                        <img class="media-object img-thumbnail user-img" alt="User Picture" src="../Content/assets/img/user.gif">
                        <span class="label label-danger user-label">16</span>
                    </a>

                    <div class="media-body">
                        <h5 class="media-heading">Archie</h5>
                        <ul class="list-unstyled user-info">
                            <li><a href="">Administrator</a></li>
                            <li>
                                Last Access : <br>
                                <small><i class="fa fa-calendar"></i>&nbsp;16 Mar 16:32</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #menu -->
            <ul id="menu" class="bg-blue dker">
                <li class="nav-header">Menu</li>
                <li class="nav-divider"></li>
                <li>
                    <a href="javascript:;">
                        <i class="glyphicon-apple"></i>
                        <span class="link-title">
                            Access
                        </span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="collapse">
                        <li class="active">@Html.ActionLink("Users", "Index", "User")</li>
                        <li>@Html.ActionLink("Role", "Index", "Role")</li>
                        <li>@Html.ActionLink("Actions", "Index", "ControllerAction")</li>
                        <li>@Html.ActionLink("User's Roles", "Index", "UsersRoles")</li>
                        <li>@Html.ActionLink("Role's Actions", "Index", "RoleControllerAction")</li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-code"></i>
                        <span class="link-title">
                            Project
                        </span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="collapse">
                        <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                        <li>@Html.ActionLink("Project Requirements ", "Index", "ProjectRequirements")</li>
                        <li>@Html.ActionLink("Stakeholder and Project", "Index", "StakeholdersProject")</li>
                        <li>@Html.ActionLink("Project Phases", "Index", "ProjectPhases")</li>
                        <li>@Html.ActionLink("Importance", "Index", "Importance")</li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-code"></i>
                        <span class="link-title">
                            Stakeholder
                        </span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="collapse">
                        <li>@Html.ActionLink("Stakeholder", "Index", "Stakeholders")</li>
                        <li>@Html.ActionLink("Classification", "Index", "StakeholderClassification")</li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-code"></i>
                        <span class="link-title">
                            Artifact
                        </span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="collapse">
                        <li>@Html.ActionLink("Artifacts", "Index", "ProjectArtifact")</li>
                        <li>@Html.ActionLink("Track Artifact", "TrackingProjectArtifact", "Tracking")</li>
                        <li>@Html.ActionLink("Types", "Index", "ArtifactType")</li>
                    </ul>
                </li>

                <li>
                    <a href="javascript:;">
                        <i class="fa fa-code"></i>
                        <span class="link-title">
                            Requirement
                        </span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="collapse">
                        <li>@Html.ActionLink("Requirements", "Index", "Requirement")</li>
                        <li>@Html.ActionLink("Stakeholders and Requirements ", "Index", "StakeholderRequirement")</li>

                        <li>
                            <a href="javascript:;">Tracking<span class="fa arrow"></span>  </a>
                            <ul class="collapse">
                                <li>@Html.ActionLink("Track Requirement", "TrackingProjectRequirement", "Tracking")</li>
                                <li>@Html.ActionLink("Type Link", "Index", "TypeLink")</li>
                                <li>@Html.ActionLink("Requirement Traceability Matrix", "RequirementTraceabilityMatrix", "LinkBetweenRequirements")</li>
                                <li>@Html.ActionLink("Requirement for Artifact Traceability Matrix", "ArtifactRequirementTraceabilityMatrix", "LinkBetweenRequirementsArtifact")</li>
                                <li>@Html.ActionLink("From Requirement to Requirement", "Index", "LinkBetweenRequirements")</li>
                                <li>@Html.ActionLink("From Requirements to Artifacts", "Index", "LinkBetweenRequirementsArtifact")</li>
                            </ul>
                        </li>


                        <li>@Html.ActionLink("Templates", "Index", "RequirementTemplate")</li>
                        <li>@Html.ActionLink("Characteristics", "Index", "Characteristics")</li>
                        <li>@Html.ActionLink("Types", "Index", "RequirementTypes")</li>
                        <li>@Html.ActionLink("SubTypes", "Index", "RequirementSubType")</li>
                        <li>@Html.ActionLink("Status", "Index", "RequirementStatus")</li>
                    </ul>
                </li>
            </ul>
        </div>

        <div id="content">
            <div class="outer">
                <div class="inner bg-light lter">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="box">
                                <div class="container">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="right" class="onoffcanvas is-right is-fixed bg-light" aria-expanded=false>
            <a class="onoffcanvas-toggler" href="#right" data-toggle=onoffcanvas aria-expanded=false></a>
            <br>
            <br>
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Warning!</strong> Best check yo self, you're not looking too good.
            </div>

            <div class="well well-small dark">
                <ul class="list-unstyled">
                    <li>Visitor <span class="inlinesparkline pull-right">1,4,4,7,5,9,10</span></li>
                    <li>Online Visitor <span class="dynamicsparkline pull-right">Loading..</span></li>
                    <li>Popularity <span class="dynamicbar pull-right">Loading..</span></li>
                    <li>New Users <span class="inlinebar pull-right">1,3,4,5,3,5</span></li>
                </ul>
            </div>

            <div class="well well-small dark">
                <button class="btn btn-block">Default</button>
                <button class="btn btn-primary btn-block">Primary</button>
                <button class="btn btn-info btn-block">Info</button>
                <button class="btn btn-success btn-block">Success</button>
                <button class="btn btn-danger btn-block">Danger</button>
                <button class="btn btn-warning btn-block">Warning</button>
                <button class="btn btn-inverse btn-block">Inverse</button>
                <button class="btn btn-metis-1 btn-block">btn-metis-1</button>
                <button class="btn btn-metis-2 btn-block">btn-metis-2</button>
                <button class="btn btn-metis-3 btn-block">btn-metis-3</button>
                <button class="btn btn-metis-4 btn-block">btn-metis-4</button>
                <button class="btn btn-metis-5 btn-block">btn-metis-5</button>
                <button class="btn btn-metis-6 btn-block">btn-metis-6</button>
            </div>

            <div class="well well-small dark">
                <span>Default</span><span class="pull-right"><small>20%</small></span>

                <div class="progress xs">
                    <div class="progress-bar progress-bar-info" style="width: 20%"></div>
                </div>
                <span>Success</span><span class="pull-right"><small>40%</small></span>

                <div class="progress xs">
                    <div class="progress-bar progress-bar-success" style="width: 40%"></div>
                </div>
                <span>warning</span><span class="pull-right"><small>60%</small></span>

                <div class="progress xs">
                    <div class="progress-bar progress-bar-warning" style="width: 60%"></div>
                </div>
                <span>Danger</span><span class="pull-right"><small>80%</small></span>

                <div class="progress xs">
                    <div class="progress-bar progress-bar-danger" style="width: 80%"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.pie.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.selection.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.resize.min.js"></script>
    <script src="../Content/assets/lib/bootstrap/js/bootstrap.js"></script>
    <script src="../Content/assets/lib/metismenu/metisMenu.js"></script>
    <script src="../Content/assets/lib/onoffcanvas/onoffcanvas.js"></script>
    <script src="../Content/assets/lib/screenfull/screenfull.js"></script>
    <script src="../Content/assets/js/core.js"></script>
    <script src="../Content/assets/js/app.js"></script>
    <script src="../Content/assets/js/style-switcher.js"></script>
    @Scripts.Render("~/Scripts/css/js")

    @RenderSection("scripts", required: false)
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">

        function clearDropDown(dropdown) {
            var select = document.getElementById(dropdown);
            var i;

            if (select.options != null) {
                for (i = select.options.length - 1; i >= 0; i--)
                    select.remove(i);
            }
        }

        function fixDateTime(value) {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear() + " - " + dt.getHours() + ":" + dt.getMinutes();
        }

        $(document).ready(function () {
            $('.display').dataTable();
            $(".datepicker").datepicker();
        });

        $('#tabs').tabs({
            beforeLoad: function (event, ui) {
                ui.panel.html('loading...');
                ui.jqXHR.error(function () {
                    ui.panel.html('load page failed');
                });
            },
            show: { effect: 'fade', duration: 200 },
            hide: { effect: 'fade', duration: 200 },
            active: 0,
            collapsible: false
        });
        $('#tabs > ul > li > a').each(function (index, element) {
            $(element).click(function () {
                var href = $(this).attr('href');
                if (!href.match(/^#.*$/)) {
                    $('#mainTab > div:eq(' + $(this).closest('li').index() + ')').load(href);
                }
            })
        });
    </script>
</body>
</html>


