<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>ReqManager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link href="~/Content/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/icon-font.min.css" type='text/css' />

    <script src="~/Scripts/js/Chart.js"></script>
    <link href="~/Content/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/Scripts/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>

    <link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>

    <script src="~/Scripts/js/jquery-1.10.2.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body class="sticky-header left-side-collapsed">
    <section>

        <div class="left-side sticky-left-side">

            <div class="logo">
                <h1><a href="index.html">Req<span>Manager</span></a></h1>
            </div>
            <div class="logo-icon text-center">
                <a href="index.html"><i class="glyphicon glyphicon-home"></i> </a>
            </div>

            <div class="left-side-inner">

                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li class="menu-list">
                        <a href="#">
                            <i class="glyphicon glyphicon-user"></i>
                            <span>Access</span>
                        </a>
                        <ul class="sub-menu-list">
                            <li>@Html.ActionLink("Users", "Index", "User")</li>
                            <li>@Html.ActionLink("Role", "Index", "Role")</li>
                            <li>@Html.ActionLink("User's Roles", "Index", "UsersRoles")</li>
                            <li>@Html.ActionLink("Actions", "Index", "ControllerAction")</li>
                            <li>@Html.ActionLink("Role's Actions", "Index", "RoleControllerAction")</li>
                        </ul>
                    </li>
                    <li class="menu-list">
                        <a href="#">
                            <i class="glyphicon glyphicon-ruble"></i>
                            <span>Project</span>
                        </a>
                        <ul class="sub-menu-list">
                            <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                            <li>@Html.ActionLink("Stakeholders ", "Index", "StakeholdersProject")</li>
                            <li>@Html.ActionLink("Phases", "Index", "ProjectPhases")</li>
                            <li>@Html.ActionLink("Importance", "Index", "Importance")</li>
                        </ul>
                    </li>
                    <li class="menu-list">
                        <a href="#">
                            <i class="glyphicon glyphicon-file"></i>
                            <span>Artifact</span>
                        </a>
                        <ul class="sub-menu-list">
                            <li>@Html.ActionLink("Artifacts", "Index", "ProjectArtifact")</li>
                            <li>@Html.ActionLink("Types", "Index", "ArtifactType")</li>
                            <li>@Html.ActionLink("Artifacts to Requirement Traceability Matrix", "ArtifactRequirementTraceabilityMatrix", "LinkBetweenRequirementsArtifact")</li>
                        </ul>
                    </li>
                    <li class="menu-list">
                        <a href="#">
                            <i class="glyphicon glyphicon-usd"></i>
                            <span>Stakeholder</span>
                        </a>
                        <ul class="sub-menu-list">
                            <li>@Html.ActionLink("Stakeholder", "Index", "Stakeholders")</li>
                            <li>@Html.ActionLink("Classification", "Index", "StakeholderClassification")</li>
                        </ul>
                    </li>
                    <li class="menu-list">
                        <a href="#">
                            <i class="glyphicon glyphicon-registration-mark"></i>
                            <span>Requirement</span>
                        </a>
                        <ul class="sub-menu-list">
                            <li>@Html.ActionLink("Requirements", "Index", "Requirement")</li>
                            <li>@Html.ActionLink("Types", "Index", "RequirementTypes")</li>
                            <li>@Html.ActionLink("SubTypes", "Index", "RequirementSubType")</li>
                            <li>@Html.ActionLink("Status", "Index", "RequirementStatus")</li>
                            <li>@Html.ActionLink("Templates", "Index", "RequirementTemplate")</li>
                            <li>@Html.ActionLink("Requirement Traceability Matrix", "RequirementTraceabilityMatrix", "LinkBetweenRequirements")</li>
                        </ul>
                    </li>
                    <li class="menu-list">
                        <a href="#">
                            <i class="glyphicon glyphicon-resize-horizontal"></i>
                            <span>Link</span>
                        </a>
                        <ul class="sub-menu-list">
                            <li>@Html.ActionLink("Attributes", "Index", "Attributes")</li>
                            <li>@Html.ActionLink("Link Type", "Index", "TypeLink")</li>
                            <li>@Html.ActionLink("Requirement to Requirement", "Index", "LinkBetweenRequirements")</li>
                            <li>@Html.ActionLink("Requirements to Artifacts", "Index", "LinkBetweenRequirementsArtifact")</li>
                            <li>@Html.ActionLink("Requirements to Requirements - Attributes", "Index", "LinkRequirementAttributes")</li>
                            <li>@Html.ActionLink("Requirement to Artifact - Attributes", "Index", "LinkArtifactAttributes")</li>
                        </ul>
                    </li>
                    <li class="menu-list">
                        <a href="#">
                            <i class="glyphicon glyphicon-search"></i>
                            <span>Code Track</span>
                        </a>
                        <ul class="sub-menu-list">
                            <li>@Html.ActionLink("Artifacts", "TrackingProjectArtifact", "Tracking")</li>
                            <li>@Html.ActionLink("Requirements", "TrackingProjectRequirement", "Tracking")</li>
                        </ul>
                    </li>
                </ul>
                <!--sidebar nav end-->
            </div>
        </div>

        <div class="main-content">
            <div class="header-section">
                <a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
                <div class="menu-right">
                    <div class="user-panel-top">
                        <div class="profile_details">
                            <ul>
                                <li class="dropdown profile_details_drop">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <div class="profile_img">
                                            
                                            <div class="user-name">
                                                <p>Michael<span>Administrator</span></p>
                                            </div>
                                            <i class="lnr lnr-chevron-down"></i>
                                            <i class="lnr lnr-chevron-up"></i>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu drp-mnu">
                                        <li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li>
                                        <li> <a href="#"><i class="fa fa-user"></i>Profile</a> </li>
                                        <li> <a href="sign-up.html"><i class="fa fa-sign-out"></i> Logout</a> </li>
                                    </ul>
                                </li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--notification menu end -->
            </div>
            <!-- //header-ends -->
            <div id="page-wrapper">
                <div class="graphs">
                    <h3 class="blank1">@ViewBag.Title</h3>
                    <div class="xs tabls">
                        <div class="bs-example4" data-example-id="simple-responsive-table">
                            <div class="table-responsive">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <p>&copy 2017 ReqManager. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">w3layouts.</a></p>
        </footer>

    </section>

    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>*@

    @*@Scripts.Render("~/Scripts/css/js")*@

    <script src="~/Scripts/js/jquery.nicescroll.js"></script>
    <script src="~/Scripts/js/scripts.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>

    @RenderSection("scripts", required: false)
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">

        function clearDropDown(dropdown) {
            var select = document.getElementById(dropdown);
            var i;

            if (select.options != null) {
                for (i = select.options.length - 1; i >= 0; i--)
                    select.remove(i);
            }
        }

        function fixDateTime(value) {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear() + " - " + dt.getHours() + ":" + dt.getMinutes();
        }

        $(document).ready(function () {
            $('.display').dataTable();
            $(".datepicker").datepicker();
            $(".table").removeClass("table").addClass("table table-bordered");
        });

        $('#tabs').tabs({
            beforeLoad: function (event, ui) {
                ui.panel.html('loading...');
                ui.jqXHR.error(function () {
                    ui.panel.html('load page failed');
                });
            },
            show: { effect: 'fade', duration: 200 },
            hide: { effect: 'fade', duration: 200 },
            active: 0,
            collapsible: false
        });
        $('#tabs > ul > li > a').each(function (index, element) {
            $(element).click(function () {
                var href = $(this).attr('href');
                if (!href.match(/^#.*$/)) {
                    $('#mainTab > div:eq(' + $(this).closest('li').index() + ')').load(href);
                }
            })
        });
    </script>

</body>
</html>