@using ReqManager.Notifications.Classes

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>T-AADSP-Requiriments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link href="~/Content/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <link href="~/Scripts/css/fontawesome-stars.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/icon-font.min.css" type='text/css' />

    <script src="~/Scripts/js/Chart.js"></script>
    <link href="~/Content/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/Scripts/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>

    <link href="~/Scripts/select2/css/select2.min.css" rel="stylesheet" />

    <link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.barrating.min.js"></script>
    <script src="~/Scripts/jquery.maskMoney.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="~/Scripts/js/JsonToHtmlTable.js"></script>
</head>
<body class="sticky-header left-side-collapsed">
    <section>

        <div class="left-side sticky-left-side">

            <div class="logo">
                <h1><a href="#">T-AADSP  <span>Requirements</span></a></h1>
            </div>
            <div class="logo-icon text-center">
                <a href="#"><i class="glyphicon glyphicon-home"></i> </a>
            </div>
            

            <div class="left-side-inner">

                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li class="menu-list">
                        <a href="#">
                            <i class="glyphicon glyphicon-user"></i>
                            <span>Access</span>
                        </a>
                        <ul class="sub-menu-list">
                            <li>@Html.ActionLink("Users", "Index", "User")</li>
                            <li>@Html.ActionLink("Role", "Index", "Role")</li>
                            <li>@Html.ActionLink("User's Roles", "Index", "UsersRoles")</li>
                            <li>@Html.ActionLink("Actions", "Index", "ControllerAction")</li>
                            <li>@Html.ActionLink("Role's Actions", "Index", "RoleControllerAction")</li>
                            <li>@Html.ActionLink("Stakeholder", "Index", "Stakeholders")</li>
                            <li>@Html.ActionLink("Classification", "Index", "StakeholderClassification")</li>
                        </ul>
                    </li>
                    <li class="menu-list">
                        <a href="#">
                            <i class="glyphicon glyphicon-ruble"></i>
                            <span>Projects</span>
                        </a>
                        <ul class="sub-menu-list">
                            <li>@Html.ActionLink("Project", "Index", "Projects")</li>
                            <li>@Html.ActionLink("Phases", "Index", "ProjectPhases")</li>
                            <li>@Html.ActionLink("Importance", "Index", "Importance")</li>
                        </ul>
                    </li>
                    <li class="menu-list">
                        <a href="#">
                            <i class="glyphicon glyphicon-registration-mark"></i>
                            <span>Requirements</span>
                        </a>
                        <ul class="sub-menu-list">
                            <li>@Html.ActionLink("Requirement", "Index", "Requirement")</li>
                            <li>@Html.ActionLink("Characteristics", "Index", "Characteristics")</li>
                            <li>@Html.ActionLink("Types", "Index", "RequirementTypes")</li>
                            <li>@Html.ActionLink("SubTypes", "Index", "RequirementSubType")</li>
                            <li>@Html.ActionLink("Status", "Index", "RequirementStatus")</li>
                            <li>@Html.ActionLink("Templates", "Index", "RequirementTemplate")</li>
                        </ul>
                    </li>
                    <li class="menu-list">
                        <a href="#">
                            <i class="glyphicon glyphicon-education"></i>
                            <span>Requirement DataSet</span>
                        </a>
                        <ul class="sub-menu-list">
                            <li>@Html.ActionLink("Dependencies (Xls)", "DataSetDependencies", "DataSet")</li>
                            <li>@Html.ActionLink("Priorities (Xls)", "DataSetPriorities", "DataSet")</li>
                            <li>@Html.ActionLink("Requirements Cost (Xls)", "DataSetRequirementsCost", "DataSet")</li>
                            <li>@Html.ActionLink("Stakeholder Importances (Xls)", "DataSetStakeholderImportances", "DataSet")</li>
                        </ul>
                    </li>
                    <li class="menu-list">
                        <a href="#">
                            <i class="glyphicon glyphicon-file"></i>
                            <span>Artifact</span>
                        </a>
                        <ul class="sub-menu-list">
                            <li>@Html.ActionLink("Artifacts", "Index", "ProjectArtifact")</li>
                            <li>@Html.ActionLink("Types", "Index", "ArtifactType")</li>
                        </ul>
                    </li>
                    <li class="menu-list">
                        <a href="#">
                            <i class="glyphicon glyphicon-resize-horizontal"></i>
                            <span>Link</span>
                        </a>
                        <ul class="sub-menu-list">
                            <li>@Html.ActionLink("Attributes", "Index", "Attributes")</li>
                            <li>@Html.ActionLink("Link Type", "Index", "TypeLink")</li>
                            <li>@Html.ActionLink("From Requirement to Requirement", "Index", "LinkBetweenRequirements")</li>
                            <li>@Html.ActionLink("From Requirement to Artifact", "Index", "LinkBetweenRequirementsArtifact")</li>
                            <li>@Html.ActionLink("From Requirement to Requirement Attributes", "Index", "LinkRequirementAttributes")</li>
                            <li>@Html.ActionLink("From Requirement to Artifact Attributes", "Index", "LinkArtifactAttributes")</li>
                        </ul>
                    </li>
                    <li class="menu-list">
                        <a href="#">
                            <i class="glyphicon glyphicon-search"></i>
                            <span>Code Track</span>
                        </a>
                        <ul class="sub-menu-list">
                            <li>@Html.ActionLink("Requirements", "TrackingProjectRequirement", "Tracking")</li>
                            <li>@Html.ActionLink("Artifacts", "TrackingProjectArtifact", "Tracking")</li>
                        </ul>
                    </li>
                </ul>
                <!--sidebar nav end-->
            </div>
        </div>

        <div class="main-content">
            <div class="header-section">
                <a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
                <div class="menu-right">
                    <div class="user-panel-top">
                        <div class="profile_details">
                            <div class="form-group">

                                @if (Session["name"] != null)
                                {
                                    <p style="color:orangered;">@Session["name"].ToString()</p>
                                }

                                <ul>
                                    <li class="dropdown profile_details_drop">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <i class="lnr lnr-chevron-down"></i>
                                            <i class="lnr lnr-chevron-up"></i>
                                        </a>
                                        <ul class="dropdown-menu drp-mnu pull-right">
                                            <li> <a href="#" onclick="LogOut(); return false;"><i class="fa fa-sign-out"></i>Logout</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--notification menu end -->
            </div>

            <!-- //header-ends -->
            <div id="page-wrapper">
                <div class="graphs">
                    <div class="row">
                        <div class="col-xs-6 text-left"><h3 class="blank1">@ViewBag.Title</h3></div>
                        <div class="col-xs-6 text-right">
                            <a href="@Request.UrlReferrer" class="btn btn-default btn-lg" title="Previous Page">
                                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                    <div id="MessageContainer">
                        <div class="container">
                            <h3>@Html.ViewContext.DisplayMessages()</h3>
                        </div>
                    </div>
                    <div class="xs tabls">
                        <div class="bs-example4" data-example-id="simple-responsive-table">
                            <div class="table-responsive">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <p>&copy @DateTime.Now.Year T-RM. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">w3layouts.</a></p>
        </footer>

    </section>

    <script src="~/Scripts/js/jquery.nicescroll.js"></script>
    <script src="~/Scripts/js/scripts.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/select2/js/select2.min.js"></script>
    <script src="~/Scripts/mask/jquery.mask.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">

        function LogOut() {
            $.post('@Url.Action("LogOut", "Login")');
            window.location = '@Url.Action("Login", "Login")'
        };

        function clearDropDown(dropdown) {
            var select = document.getElementById(dropdown);
            var i;


            if (select.options != null) {
                for (i = select.options.length - 1; i >= 0; i--)
                    select.remove(i);
            }
        }

        function fixDateTime(value) {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear() + " - " + dt.getHours() + ":" + dt.getMinutes();
        }

        $(document).ready(function () {
            $('.select2').select2();
            $('.date').mask('99/99/9999');
            $('.display').dataTable();
            $(".datepicker").datepicker();
            $(".table").removeClass("table").addClass("table table-bordered");
            $('.rating').barrating({
                theme: 'fontawesome-stars'
            });
            $('.money').maskMoney({
                thousands: "",
                allowZero: true
            });
        });

        $('#tabs').tabs({
            beforeLoad: function (event, ui) {
                ui.panel.html('loading...');
                ui.jqXHR.error(function () {
                    ui.panel.html('load page failed');
                });
            },
            show: { effect: 'fade', duration: 200 },
            hide: { effect: 'fade', duration: 200 },
            active: 0,
            collapsible: false
        });
        $('#tabs > ul > li > a').each(function (index, element) {
            $(element).click(function () {
                var href = $(this).attr('href');
                if (!href.match(/^#.*$/)) {
                    $('#mainTab > div:eq(' + $(this).closest('li').index() + ')').load(href);
                }
            })
        });
    </script>

</body>
</html>