@model IEnumerable<ReqManager.Entities.Project.CharacteristicsEntity>

@{
    ViewBag.Title = "Requirements Characteristics";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="characteristics" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.active)
                </td>
            </tr>
        }   
    </tbody>

</table>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#characteristics').dataTable({
            "bServerSide": true,
            "bProcessing": false,
            ajax: {
                "url": '@Url.Action("GetFilter", "Characteristics")',
                "type": 'POST',
                "dataSrc": function (json) {
                    var return_data = new Array();                    
                    for (var i = 0; i < json.aaData.length; i++) {
                        return_data.push({
                            'name': json.aaData[i].name,
                            'description': json.aaData[i].description,
                            'active': json.aaData[i].active,
                            'action': '<a href=\"/Characteristics/Edit/' +
                                json.aaData[i].CharacteristicID + '\">Edit</a> | <a href=\"/Characteristics/Details/' +
                                json.aaData[i].CharacteristicID + '\">Details</a> | <a href=\"/Characteristics/Delete/' +
                                json.aaData[i].CharacteristicID + '\">Delete</a>'
                        })
                    }

                    return return_data;
                }
            },
            "aoColumns": [
                { 'data': 'name' },
                { 'data': 'description' },
                { 'data': 'active' },
                { 'data': 'action' }
            ]
        });
    });
</script>
