@model IEnumerable<ReqManager.ViewModels.UserRoleViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.roleDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.roleDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserRoleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserRoleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserRoleID })
        </td>
    </tr>
}

</table>
